div(id='#{id}', class='widget #{classes}')
	.widgetTitle= name
	img.videoFeed(src="#{url}", style="width: #{width}px; height: #{height}px")
	//- video(src="https://home.sugarcoding.net/streaming/mystream.m3u8", controls, autoplay)
